.instagram-embed {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    blockquote {
        &:before {
            background: transparent !important;
        }
    }
}