<nav>
	<ul
		class="list-none text-[14px] font-normal flex flex-initial flex-col md:flex-row gap-5"
	>
		<li>
			<a
				href="/"
				class="opacity-60 text-theme-primary hover:opacity-100 hover:text-theme-accent transition-all duration-300 dark:text-white dark:hover:text-theme-accent"
				>Home</a
			>
		</li>
		<li>
			<a
				href="/post/"
				class="opacity-60 text-theme-primary hover:opacity-100 hover:text-theme-accent transition-all duration-300 dark:text-white dark:hover:text-theme-accent"
				>Posts</a
			>
		</li>
		<li>
			<a
				href="/members/"
				class="opacity-60 text-theme-primary hover:opacity-100 hover:text-theme-accent transition-all duration-300 dark:text-white dark:hover:text-theme-accent"
				>Members</a
			>
		</li>
		<li>
			<a
				href="/about/"
				class="opacity-60 text-theme-primary hover:opacity-100 hover:text-theme-accent transition-all duration-300 dark:text-white dark:hover:text-theme-accent"
				>About</a
			>
		</li>
	</ul>
</nav>
