---
import { Icon } from "astro-icon/components";
const { socialUrl = false, socialType } = Astro.props;
---

{
	socialUrl && (
		<li>
			<a
				href={socialUrl}
				target="_blank"
				aria-label={socialType + "link"}
			>
				<Icon
					name={socialType}
					class="w-auto h-[20px] transition-all duration-300 text-theme-primary/60 hover:text-theme-secondary dark:text-theme-accent dark:hover:text-theme-secondary"
				/>
			</a>
		</li>
	)
}
