---
import { type CollectionEntry, getCollection, render } from "astro:content";

import Base from "@/layouts/Base.astro";
import ImageWrapper from "@/components/misc/ImageWrapper.astro";
import Markdown from "@/components/post/Markdown.astro";

export async function getStaticPaths() {
	const pageEntries = await getCollection("page");

	return pageEntries.map((entry) => ({
		params: { slug: entry.id },
		props: { entry },
	}));
}

type Props = {
	entry: CollectionEntry<"page">;
};
const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Base title={entry.data.title}>
	<article class="px-7 pt-10 mx-auto w-full">
		<div
			class="mx-auto
      prose lg:prose-xl prose-headings:font-bold prose-headings:text-pacamara-dark prose-headings:mb-3"
		>
			<h1 class="transition-all duration-300 dark:text-white">
				{entry.data.title}
			</h1>
		</div>
		{
			entry.data.image && (
				<ImageWrapper
					src={entry.data.image}
					class="block relative mx-auto mt-10 object-cover h-full max-w-screen-md image-shine rounded-[15px]"
				/>
			)
		}

		<Markdown>
			<Content />
		</Markdown>
	</article>
</Base>
