---
import Base from "@/layouts/Base.astro";
import Welcome from "@/components/home/Welcome.astro";
import LatestPosts from "@/components/post/LatestPosts.astro";
import CentredButton from "@/components/widget/CentredButton.astro";
---

<Base>
	<main>
		<Welcome />
		<LatestPosts />
		<CentredButton text="All Posts" href="/post/" />
	</main>
</Base>
