---
import { getCollection } from "astro:content";
import PostCard from "@/components/post/PostCard.astro";
import config from "@/config.ts";

const { postLimit = config.latestPosts, skipPost = "" } = Astro.props;

const posts = (
	await getCollection("post", ({ data }) => {
		return !(data.title === skipPost);
	})
)
	.sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf())
	.slice(0, postLimit);
---

<section class="container mx-auto max-w-screen-lg px-7 py-10 mb-10">
	{
		posts.map((post, index) => {
			return <PostCard postData={post} num={index} />;
		})
	}
</section>
