---
import "@/styles/admonition.css";
import "@/styles/instagram.css";
import "@/styles/heading_links.css";
import Mermaid from "@/components/misc/Mermaid.astro";
---

<div
	class:list={[
		"content-block",
		"lg:px-0",
		"pt-10",
		"mb-5",
		"mx-auto",
		"prose",
		"lg:prose-xl",
		"prose-headings:transition-all",
		"prose-headings:duration-300",
		"prose-headings:font-theme-space",
		"prose-headings:font-bold",
		"prose-headings:text-theme-accent",
		"prose-headings:mb-0",
		"prose-headings:pb-3",
		"prose-headings:mt-6",
		"prose-p:transition-all",
		"prose-p:duration-300",
		"prose-p:text-theme-primary/80",
		"prose-li:transition-all",
		"prose-li:duration-300",
		"prose-li:text-theme-primary/80",
		"prose-td:transition-all",
		"prose-td:duration-300",
		"prose-td:text-theme-primary/80",
		"prose-a:font-semibold",
		"prose-a:transition-all",
		"prose-a:duration-300",
		"prose-a:p-1",
		"prose-a:rounded-md",
		"prose-a:text-theme-secondary",
		"hover:prose-a:text-theme-secondary",
		"hover:prose-a:bg-theme-secondary/25",
		"prose-a:decoration-dashed",
		"hover:prose-a:no-underline",
		"prose-strong:transition-all",
		"prose-strong:duration-300",
		"prose-strong:font-bold",
		"prose-hr:transition-all",
		"prose-hr:duration-300",
		"prose-hr:border-theme-secondary/40",
		"prose-img:rounded-lg",
		"prose-img:mx-auto",
		"prose-code:transition-all",
		"prose-code:duration-300",
		"prose-code:text-theme-dark",
		"dark:prose-headings:text-theme-accent",
		"dark:prose-p:text-white/70",
		// "dark:prose-a:text-theme-secondary",
		// "dark:hover:prose-a:bg-theme-secondary/40",
		"dark:prose-strong:text-white",
		"dark:prose-li:text-white",
		"dark:prose-code:text-white",
		"dark:prose-td:text-white/70",
		"dark:prose-hr:border-theme-accent/30",
		"dark:prose-tr:border-theme-accent/30",
		"dark:prose-thead:border-theme-accent/30",
	]}
>
	<slot />
</div>

<Mermaid />
